<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <!------------------------------------------------- Home page------------------------------------------------>
  <!--  <div class="container body-content jumbotron" id="Home">-->
    <div id="divhome">

        <h2 style="color:blue"><u>Employee Management System</u></h2>
        <p class="lead" style="color:chocolate">
            Employee management system makes it easy to check the details of Employees and Department.
        </p>

        <div>
            <p>First name: <strong data-bind="text: firstName"></strong></p>
            <p>First name: <input data-bind="value: firstName" /></p>
        </div>
        <div>
            <a href="#/EmployeeList/">Employee Detail</a>
        </div>
        <div>
            <a href="#/DepartmentList/" data-bind="click: $root.DepartmentDetail">Department Detail</a>

        </div>
    </div>
        <!--</div>-->

        <!--------------------------------------------------Employee Home page----------------------------------------->
            <!--
        <div id="EmpIndex" style="display:none">
            <table class="table">
                <h2 style='color:blue'> Employee Details  </h2>
                <tr><td><a href="#">Home</a>|<a href="#" data-bind="click: AddEmployee">Create New</a></td></tr>

                <tr><td><b>Name</b></td><td><b>Designation</b></td><td><b>Emailid</b></td><td><b>Contactno</b></td></tr>
                <tbody data-bind="foreach: tasks ">
                    <tr>
                        <td> <span data-bind="text: Name,value:Id">Welcome</span> </td>
                        <td> <span data-bind="text: Designation ,value:Id">Welcome</span> </td>
                        <td> <span data-bind="text: Emailid ,value:Id">Welcome</span> </td>
                        <td> <span data-bind="text: Contactno ,value:Id">Welcome</span> </td>
                        <td><a href="#" data-bind="click: $root.UpdateEmployee">Edit</a></td>
                        <td><a href="#" data-bind="click: $root.EmployeeDetails">Detail</a></td>
                        <td><a href="#" data-bind="click: $root.DeleteEmployee">Delete</a></td>
                    <tr>
                </tbody>
            </table>
        </div>

        <!-- Add Employee
        <div id="Empcreate" style="display:none">
            <table class="table">
                <h2 style='color:blue'> Create new department </h2>
                <tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" data-bind="value :Name,text:DeptName" placeholder="Enter name "><div id="errorname" style="color:red"></div></td>
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td><input type="text" data-bind="value : Designation,text:DeptName" placeholder="Enter designation "><div id="errordesignation" style="color:red"></div></td>
                </tr>

                <tr>
                    <td>Emailid:</td>
                    <td><input type="text" data-bind="value : Emailid,text:DeptName" placeholder="Enter Emailid "><div id="erroremailid" style="color:red"></div></td>
                </tr>
                <tr>
                    <td>ContactNo:</td>
                    <td><input type="text" data-bind="value : Contactno,text:DeptName" placeholder="Enter ContactNo "><div id="errorcontactno" style="color:red"></div></td>
                </tr>
                <tr>
                    <td>Department:</td>
                    <td>
                        <select id='select' data-bind="foreach: tasks ">
                            <option data-bind="value : Department,text:Department ,value : Id"></option>
                        </select> <div id="errordept" style="color:red"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" data-bind="click: CreateEmployee" value="Create" class="btn btn-default"><input type="button" value="Create" class="btn btn-default">
                    </td>
                </tr>

            </table>

        </div>

        <!-- Update emloyee detail
        <div id="Empupdate" style="display:none">
            <table class="table">
                <h2 style='color:blue'> Update employee detail </h2>
                <tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" data-bind="value :Name,text:DeptName" placeholder="Enter name "><div id="errorname" style="color:red"></div></td>
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td><input type="text" data-bind="value : Designation,text:DeptName" placeholder="Enter designation "><div id="errordesignation" style="color:red"></div></td>
                </tr>

                <tr>
                    <td>Emailid:</td>
                    <td><input type="text" data-bind="value : Emailid,text:DeptName" placeholder="Enter Emailid "><div id="erroremailid" style="color:red"></div></td>
                </tr>
                <tr>
                    <td>ContactNo:</td>
                    <td><input type="text" data-bind="value : Contactno,text:DeptName" placeholder="Enter ContactNo "><div id="errorcontactno" style="color:red"></div></td>
                </tr>
                <tr>
                    <td>Department:</td>
                    <td>
                        <select id='select' data-bind="foreach: tasks,value:Selected ">
                            <option data-bind="option:gf, value : Department,text:Department ,value : Id"></option>
                        </select> <div id="errordept" style="color:red"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" data-bind="click: CreateEmployee" value="Create" class="btn btn-default"><input type="button" value="Create" class="btn btn-default">
                    </td>
                </tr>

            </table>

        </div>

        <!-- Details of Employee
        <div id="Empdetail" style="display:none">
            <table class="table">
                <h2 style='color:blue'> Create new department </h2>
                <tr>
                <tr>
                    <td>Name:</td>
                    <td data-bind="value :Name,text:DeptName"></td>
                </tr>
                <tr>
                    <td>Designation:</td>
                    <td>
                    <td data-bind="value : Designation,text:DeptName"></td>
                </tr>

                <tr>
                    <td>Emailid:</td>
                    <td data-bind="value : Emailid,text:DeptName"></td>
                </tr>
                <tr>
                    <td>ContactNo:</td>
                    <td data-bind="value : Contactno,text:DeptName"></td>
                </tr>
                <tr>
                    <td>Department:</td>
                    <td>
                        <select id='select' data-bind="foreach: tasks ">
                            <option data-bind="value : Department,text:Department ,value : Id"></option>
                        </select> <div id="errordept" style="color:red"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Back to List</a>
                    </td>
                </tr>

            </table>

        </div>

        <!-- Department not Exist
        <div id="detailnotfound" style="display:none">
            <table class="table" cellpadding="10" cellspacing="20" id="datanotfound">
                <tr><h2 style='color:blue'>Currently there is no department</h2></tr>
                <tr><td style='color:chocolate'> First add department details </td></tr>
                <tr><td><a href='#/AddDepartment/0' class='createdept'> Add Department </a>  </td></tr>
            </table>

        </div>

        <!-- No employee found
        <div id="datanotfound" style="display:none">
            <table class="table" cellpadding="10" cellspacing="20" id="datanotfound">
                <tr><h2 style='color:blue'> Employee Details  </h2></tr>
                <tr><td style='color:blue'><a href='#'> Home </a>|<a href='#'> Create new </a>
                <tr><td style='color:blue'>No data found </td></tr>
            </table>

        </div>


        <!---------------------------------------------Department Home page-----------------------------------------
        <div id="DeptIndex" style="display:none">
            <table class="table">
                <h2 style='color:blue'> Department Details  </h2>
                <tr><td><a href="#">Home</a>|<a href="#" data-bind="click: AddDepartment">Create New</a></td></tr>
                <tr><td><b>Department</b></td></tr>
                <tbody data-bind="foreach: tasks">
                    <tr>
                        <td> <span data-bind="text: Department">Welcome</span> </td>
                        <td><a href="#" data-bind="click: $root.UpdateDepartment">Edit</a></td>
                        <td><a href="#" data-bind="click: $root.DepartmentDetails">Detail</a></td>
                        <td><a href="#" data-bind="click: $root.DeleteDepartment">Delete</a></td>
                    <tr>
                </tbody>
            </table>
        </div>

        <!-- Create New Department
        <div id="Deptcreate" style="display:none">
            <table class="table">
                <h2 style='color:blue'> Create new department </h2>

                <tr>
                <tr>
                    <td>Department Name:</td>
                    <td><input type="text" data-bind="value : DeptName,text:DeptName" placeholder="Enter department name "><div id="error" style="color:red"></div></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" data-bind="click: CreateDepartment" value="Create" class="btn btn-default"><input type="button" value="Create" class="btn btn-default">
                    </td>
                </tr>

            </table>

        </div>

        <!-- Edit Department
        <div id="Deptupdate" style="display:none">

            <table class="table">
                <h2 style='color:blue'> Update department </h2>
                <tbody>
                    <tr>
                    <tr>
                        <td>Department Name:</td>
                        <td><input data-bind="value : DeptEdit "><div id="UpdateError" style="color:red"></div></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" data-bind="click: EditDepartment" value="Update" class="btn btn-default"><input type="button" value="cancel" class="btn btn-default">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- Detail Department
        <div id="Deptdetail" style="display:none">
            <table class="table" cellpadding="10" cellspacing="20" id="deptdetailtable">
                <tr><h2 style="color:blue">  Details of <b data-bind="text : DeptEdit "></b></h2></tr>
                <tr><td>Name</td><td>Designation</td><td>Emailid</td><td>Contactno</td></tr>
            </table>
            <div><a href="#" data-bind="click: $root.back">Back to List</a></div>
        </div>

        <!-- Detail not found Department
        <div id="detailnotfound" style="display:none">
            <table class="table" cellpadding="10" cellspacing="20" id="datanotfound">
                <tr><h2 style="color:blue">  Details of <b data-bind="text : DeptEdit "></b></h2></tr>
                <tr><td>No data found</td></tr>
                <tr><td><a href="#" data-bind="click: $root.Back">Back to List</a></td></tr>
            </table>

        </div>

        <!-- No department found
        <div id="Deptnotfound" style="display:none">
            <table class="table" cellpadding="10" cellspacing="20" id="datanotfound">
                <tr><td><h2 style='color:blue'>  Currently there is no department. </h2></td> </tr>
                <tr><td><h3 style='color:chocolate'>  First add department</h3></td></tr>
                <tr><td><a href='#' class='createdept'> Add Department </a>  </td></tr>
            </table>

        </div>-->
    </div><!--
    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/knockout-3.2.0.js"></script>
    <script src="../../Scripts/Sammy.js"></script>
    <script type="text/javascript" src="../../Content/js/Demoknockout.js"> </script>-->
</body>

</html>
