<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../Content/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script data-main="/Javascripts/app.js" src="../Scripts/require.js"></script>
    </head>
    <body>
        
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                 
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>

                        <a href="#/" class="navbar-brand">Home</a>
                        <a href="#/EmployeeList/" class="navbar-brand">Employee</a>
                        <a href="#/DepartmentList/" class="navbar-brand">Department</a>
                                               
                    </div>
                    
                    <div class="container body-content" style="text-align:center">
                        <h4 id="loading" style="color:black"><span style="background-color: yellow"> Loading...</span></h4>
                    </div>

                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav"></ul>
                    </div>

                </div>

            </div>
       
        <div class="container body-content jumbotron" id="Home">

            <!--Home page -->
            <div id="index" style="display:none">

                <h2 style="color:blue"><u>Employee Management System</u></h2>
                <p class="lead" style="color:chocolate">
                    Employee management system makes it easy to check the details of Employees and Department.
                </p>

                <div>
                    <a href="#/EmployeeList/">Employee Detail</a>
                </div>
                <div>
                    <a href="#/DepartmentList/">Department Detail</a>

                </div>
            </div>

            <!--Employee table-->
            <div id="EmpIndex" style="display:none">
                <h2 style='color:blue'> Employee Details  </h2>
                <a href="#/">Home</a>|<a href="#/AddEmployee/0">Create New</a>
                <table class="table">
                    <tr><td><b>Name</b></td><td><b>Designation</b></td><td><b>Emailid</b></td><td><b>Contactno</b></td></tr>
                </table>
            </div>

            <!--Add Employeee-->
            <div id="Empcreate" style="display:none">
                <table class="table">
                    <h2 style='color:blue'> Create Employee </h2>
                    <tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" data-bind="value :Name" placeholder="Enter name "><div id="errorname" style="color:red"></div></td>
                    </tr>
                    <tr>
                        <td>Designation:</td>
                        <td><input type="text" data-bind="value : Designation" placeholder="Enter designation "><div id="errordesignation" style="color:red"></div></td>
                    </tr>

                    <tr>
                        <td>Emailid:</td>
                        <td><input type="text" data-bind="value : Emailid" placeholder="Enter Emailid "><div id="erroremailid" style="color:red"></div></td>
                    </tr>
                    <tr>
                        <td>ContactNo:</td>
                        <td><input type="text" data-bind="value : Contactno" placeholder="Enter ContactNo "><div id="errorcontactno" style="color:red"></div></td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>
                            <select id='select' data-bind="options:dept,optionsValue:dept.DName ">
                       </select> <div id="errordept" style="color:red"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#/CreateEmployee/" class="btn btn-default">Create</a>
                            <a href="#/CancelAddEmployee/" class="btn btn-default">Cancel</a>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#/BackToEmpList/">Back to List</a>
                        </td>
                    </tr>
                </table>

            </div>

             <!-- Update emloyee detail-->
              <div id="Empupdate" style="display:none">
                  <table class="table">

                      <tr><td><h2 style='color:blue'> Update details of <span data-bind="text :Name"> </span></h2></td></tr>
                         <tr>
                          <td><input type="hidden" data-bind="value :EmployeeId" id="txtid"></td>
                      </tr>
                      <tr>
                          <td>Name:</td>
                          <td><input type="text" data-bind="value :Name" placeholder="Enter name "><div id="errorname1" style="color:red"></div></td>
                      </tr>
                      <tr>
                          <td>Designation:</td>
                          <td><input type="text" data-bind="value : Designation" placeholder="Enter designation "><div id="errordesignation1" style="color:red"></div></td>
                      </tr>

                      <tr>
                          <td>Emailid:</td>
                          <td><input type="text" data-bind="value : Emailid" placeholder="Enter Emailid "><div id="erroremailid1" style="color:red"></div></td>
                      </tr>
                      <tr>
                          <td>ContactNo:</td>
                          <td><input type="text" data-bind="value : Contactno" placeholder="Enter ContactNo "><div id="errorcontactno1" style="color:red"></div></td>
                      </tr>
                      <tr>
                          <td>Department:</td>
                          <td>
                              <select id='selected' data-bind="options: dept,selectedOptions:Selected"></select> <div id="errordept1" style="color:red"></div>
                          </td>
                      </tr>
                      <tr>
                          <td><a href="#/EditEmployeeDetail/" class="btn btn-default">Update</a>
                              <a href="#/CancelUpdateEmployee/" class="btn btn-default">Cancel</a>

                          </td>
                      </tr><tr>
                          <td>
                                <a href="#/BackToEmpList/">Back to List</a>
                          </td>
                      </tr>
                  </table>

              </div>



         
                    <!--Department table-->
                    <div id="depttable" style="display:none">
                        <table class="table">
                            <tr><td><h2 style='color:blue'> Department Details  </h2></tr></td>
                            <tr><td><a href="#/">Home</a>|<a href="#/AddDepartment/0">Create New</a></td></tr>
                            <tr><td><b>Department</b></td></tr>

                        </table>
                    </div>

                    <!--Department Update-->
                    <div id="Departmenttupdate" style="display:none">
                        <table class="table">
                            <h2 style='color:blue'> Update department </h2>

                        </table>
                    </div>

                    <!--Department Detail-->
                    <div id="Deptdetail" style="display:none">                       
                          
                           <h2 style="color:blue">  Details of <span data-bind="text :Department "></span></h2>
                        <a href="#/BackToDeptList/">Back to List</a>
                        <table class="table" cellpadding="10" cellspacing="20" id="deptdetailtable">
                            <tr><td><b>Name</b></td><td><b>Designation</b></td><td><b>Emailid</b></td><td><b>Contactno</b></td></tr>
                        </table>
                    </div>

                    <!-- Details not found Department-->
                    <div id="detailnotfound" style="display:none">
                        
                            <h2 style="color:blue">  Details of <span data-bind="text : Department "></span></h2>
                          
                        <table class="table" cellpadding="10" cellspacing="20">
                            <tr><td> data found</td></tr>
                            <tr><td><a href="#/BackToDeptList/">Back to List</a></td></tr>
                        </table>

                    </div>

            <div data-bind="template: { name:displayMode,foreach:tasks }">
            </div>
                 
            

        
</body>
</html>
