    <!-- Create New Department-->
<script type="text/html" id="AddDepartment">
    <h2 style='color:blue'>
        Create new department
    </h2>
    <table>

        <tr>
            <td>Department Name:</td>
            <td><input id='txtdept'  data-bind="value:Department" placeholder="Enter department name "><div id="error" style="color:red"></div></td>
        </tr>
        <tr>
            <td>
                <a href="#/CreateDeparment/" class="btn btn-default">Create</a>
                <a href="#/CancelAddDept/" class=" btn btn-default">Cancel</a>
            </td>
        </tr>
        <tr><td><a href="#/BackToDeptList/">Back to List</a></td></tr>
    </table>
</script>
<!--
    <div id="Deptcreate">
        <table class="table">
            <h2 style='color:blue'> Create new department </h2>

            <tr>
            <tr>
                <td>Department Name:</td>
                <td><input type="text" id="txtdept" data-bind="value:Department" placeholder="Enter department name "><div id="error" style="color:red"></div></td>
            </tr>
            <tr>
                <td>
                    <a href="#/CreateDeparment/" class="btn btn-default">Create</a>
                    <a href="#/CancelAddDept/" class="btn btn-default">Cancel</a>

                </td>
            </tr>
            <tr><td><a href="#/BackToDeptList/">Back to List</a></td></tr>
        </table>

    </div>
    -->