    <!-- Detail Department-->
       <div id="Deptdetail" style="display:none">
                    <table class="table" cellpadding="10" cellspacing="20" id="deptdetailtable">
                        <tr><h2 style="color:blue">  Details of <span data-bind="text :Department "></span></h2></tr>
                        <tr><td><b>Name</b></td><td><b>Designation</b></td><td><b>Emailid</b></td><td><b>Contactno</b></td></tr>
                        <tbody data-bind="foreach: tasks ">
                            <tr>
                                <td> <span data-bind="text: Name"></span> </td>
                                <td> <span data-bind="text: Designation"></span> </td>
                                <td> <span data-bind="text: Emailid"></span> </td>
                                <td> <span data-bind="text: Contactno"></span> </td>
                            </tr>
                            </tbody>
                        <tr><td><a href="#/BackToDeptList/">Back to List</a></td></tr>
                    </table>
                  
                </div>

                <!-- Detail not found Department -->
                <div id="detailnotfound" style="display:none">
                    <table class="table" cellpadding="10" cellspacing="20" id="datanotfound">
                        <tr><h2 style="color:blue">  Details of <span data-bind="text : Department "></span></h2></tr>
                        <tr><td>No data found</td></tr>
                        <tr><td><a href="#/BackToDeptList/">Back to List</a></td></tr>
                    </table>

                </div>

