@model EmpManagement.Models.Employee

@{
    ViewBag.Title = "Create";
    var x = ViewBag.DeptList;
}

  

<div class="divcreate jumbotron">

    <table cellspacing="10" align="center" class="table" id="tablecreate" cellpadding="5" style="font-size:large"></table>

</div>
