
@{
    ViewBag.Title = "DeptNotavailable";
}

<div class="divdeptnotexist jumbotron">
    
    <table cellspacing="10" align="center" id="tabledeptnotexist" class="table" cellpadding="5" style="font-size:large"></table>

</div>