@model EmpManagement.Models.Employee
@{
    ViewBag.Title = "Details";
    }


<div class="divdetail jumbotron">

   
    <table cellspacing="10" align="center" id="tabledetail" class="table" cellpadding="5" style="font-size:large">

    </table>

</div>