@model EmpManagement.Models.Employee
@{
    ViewBag.Title = "Edit";
}

<div class="divedit jumbotron">

    
        <table align="center" class="table" id="tableedit" cellspacing="10" cellpadding="2"></table>

</div>