@model IEnumerable<EmpManagement.Models.Employee>

@{
    ViewBag.Title = "Index";
 }


<div class="divindex jumbotron">
    
 
    <table align="center" class="table" id="empindex" cellspacing="10" cellpadding="2">
        
    </table>
  
</div>
