
@{
    ViewBag.Title = "Index";
}

    @section JavaScript{
        <script type="text/javascript" src="@Url.Content("~/Content/js/EmployeeJquery.js")"></script>
    }

    
@*
    <div id="loading" style="display:none;" class="text-center jumbotron">
        <img src="~/Content/Image/round-loading-icon.gif"><br /><h4 style="color:cadetblue">Please Wait...</h4>
    </div>*@
    
    