<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!-- Add Employee-->
    <div id="Empcreate">
        <table class="table">
            <h2 style='color:blue'> Create new department </h2>
            <tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" data-bind="value :Name,text:DeptName" placeholder="Enter name "><div id="errorname" style="color:red"></div></td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td><input type="text" data-bind="value : Designation,text:DeptName" placeholder="Enter designation "><div id="errordesignation" style="color:red"></div></td>
            </tr>

            <tr>
                <td>Emailid:</td>
                <td><input type="text" data-bind="value : Emailid,text:DeptName" placeholder="Enter Emailid "><div id="erroremailid" style="color:red"></div></td>
            </tr>
            <tr>
                <td>ContactNo:</td>
                <td><input type="text" data-bind="value : Contactno,text:DeptName" placeholder="Enter ContactNo "><div id="errorcontactno" style="color:red"></div></td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>
                    <select id='select' data-bind="foreach: $root.tasks ">
                        <option data-bind="value : Department,text:Department ,value : Id"></option>
                    </select> <div id="errordept" style="color:red"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#/CreateEmployee/" class="btn btn-default">Create</a>
                    <a href="#/AddEmployee/0" class="btn btn-default">Cancel</a>
                    <!-- <input type="button" data-bind="click: CreateEmployee" value="Create" class="btn btn-default"><input type="button" value="Create" class="btn btn-default">-->
                </td>
            </tr>

        </table>

    </div>


    

</body>
</html>
