


<script type="text/html" id="Employeetemplate">

    <table class="table">
        <tr>
            
            <td>
                <span data-bind="text: Name"></span>
            </td>
            <td> <span data-bind="text: Designation"></span> </td>
            <td> <span data-bind="text: Emailid"></span> </td>
            <td> <span data-bind="text: Contactno"></span> </td>
            <td><a data-bind="attr: { href:EmpupdateUrl}">Edit</a></td>
            <td><a data-bind="attr: { href:EmpDetailUrl}">Detail</a></td>
            <td><a data-bind="attr: { href:EmpDeleteUrl}">Delete</a></td>
        </tr>
    </table>
</script>




