<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!-- Department not Exist-->
    <div id="detailnotfound" style="display:none">
        <table class="table" cellpadding="10" cellspacing="20" id="datanotfound">
            <tr><h2 style='color:blue'>Currently there is no department</h2></tr>
            <tr><td style='color:chocolate'> First add department details </td></tr>
            <tr><td><a href='#/AddDepartment/0' class='createdept'> Add Department </a>  </td></tr>
        </table>

    </div>
</body>
</html>
