   
<script type="text/html" id="EmployeeDetails">
    
            <table class="table">
                <tr><td><h2 style='color:blue'>Details of <span data-bind="text :Name"> </span> </h2></td></tr>
            
    <tr>
        <td><b>Name:</b></td>
        <td data-bind="text :Name,value:Name"></td>
    </tr>
    <tr>
        <td><b>Designation:</b></td>
        <td data-bind="text : Designation"></td>
    </tr>
    <tr>
        <td><b>Department:</b></td>
        <td data-bind="text : Department"></td>
    </tr>
    <tr>
        <td><b>Emailid:</b></td>
        <td data-bind="text : Emailid"></td>
    </tr>
    <tr>
        <td><b>ContactNo:</b></td>
        <td data-bind="text : Contactno"></td>
    </tr>

    <tr>
        <td>
            <a href="#/BackToEmpList/">Back to List</a>
        </td>
    </tr>
        </table>

</script>

