    <!-- Update employee detail-->
    <div id="Empupdate" style="display:none">
    <table class="table">

        <tr><td><h2 style='color:blue'> Update details of <span data-bind="text :Name"> </span></h2></td></tr>
        <tr>
            <td><input type="hidden" data-bind="value :EmployeeId" id="txtid"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" data-bind="value :Name" placeholder="Enter name "><div id="errorname1" style="color:red"></div></td>
        </tr>
        <tr>
            <td>Designation:</td>
            <td><input type="text" data-bind="value : Designation" placeholder="Enter designation "><div id="errordesignation1" style="color:red"></div></td>
        </tr>

        <tr>
            <td>Emailid:</td>
            <td><input type="text" data-bind="value : Emailid" placeholder="Enter Emailid "><div id="erroremailid1" style="color:red"></div></td>
        </tr>
        <tr>
            <td>ContactNo:</td>
            <td><input type="text" data-bind="value : Contactno" placeholder="Enter ContactNo "><div id="errorcontactno1" style="color:red"></div></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>
                <select id='selected' data-bind="options: dept,selectedOptions:Selected"></select> <div id="errordept1" style="color:red"></div>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#/EditEmployeeDetail/" class="btn btn-default">Update</a>
                <a href="#/CancelUpdateEmployee/" class="btn btn-default">Cancel</a>

            </td>
        </tr>
        <tr>
            <td>
                <a href="#/BackToEmpList/">Back to List</a>
            </td>
        </tr>
    </table>

</div>

